<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Tarefa</title>

    <!-- CSS Flask -->
    <link rel="stylesheet" href="{{ url_for('static', filename='add_tarefa.css') }}">
</head>
<body>

    <div class="layout">

        <!-- SIDEBAR -->
        <aside class="sidebar">

            <h2>StudyFlow</h2>

            <a href="{{ url_for('dashboard') }}">
                Voltar
            </a>

            <a href="{{ url_for('logout') }}">
                Logout
            </a>

        </aside>

        <!-- CONTEÚDO -->
        <main class="content">

            <div class="card large-card">

                <h1>
                    {% if tarefa %}Editar Tarefa{% else %}Adicionar Tarefa{% endif %}
                </h1>

                <form method="POST">

                    <label>Título</label>
                    <input 
                        type="text" 
                        name="titulo"
                        value="{{ tarefa.titulo if tarefa else '' }}"
                        required
                    >

                    <button class="btn">
                        {% if tarefa %}Salvar{% else %}Adicionar tarefa{% endif %}
                    </button>

                </form>

            </div>

        </main>

    </div>

</body>
</html>
