<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - StudyFlow</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}">
</head>

<body class="center-body">

    <div class="card">

        <h1>Criar Conta</h1>

        <!-- MENSAGEM DE ERRO -->
        {% if erro %}
            <p class="erro">{{ erro }}</p>
        {% endif %}

        <form method="POST">

            <label>Usuário</label>
            <input 
                type="text" 
                name="nome"
                placeholder="Digite seu usuário"
                required
            >

            <label>Senha</label>
            <input 
                type="password" 
                name="senha"
                placeholder="Digite sua senha"
                required
            >

            <button type="submit" class="btn">
                Cadastrar
            </button>

        </form>

        <a href="{{ url_for('login') }}">
            Já tenho conta
        </a>

    </div>

</body>
</html>
